body {
display: flex;
flex-direction: column;
justify-content: space-between
}

.content{
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1;
margin-bottom: 20%;
}

#head{
background-color: rgba(165, 42, 42, 0.363);
padding: 40px;
display: flex;
flex-direction: column;
}

#container {
padding: 10px;
display: flex;
flex-direction: column;
width: 500px;
height: 500px;
flex-shrink: 0;
flex-grow: 0;
}

#container > div{
min-height: 5px;
min-width: 5px;
height: 100%;
width: 100%;
}



.row{
    display: flex;
    border: none;
    flex-direction: column;
    flex-wrap: wrap;
    }
    
    .column{
    background-color: aqua;
    flex-basis: 100%;
    border: 1px solid;
    }
    
@media screen and (min-width: 1000px){
    .row {
        flex: 1;
    }
}

#menu{
display: flex;
flex-direction: column;
padding: 2%;
}

#submenu{
display: flex;
flex-direction: column;
border: solid 1px;
padding: 2%;
}

#submenu button{
margin: 2%;
}

#sizeSelect{
display: flex;
flex-direction: column;
border: dashed 2px;
}

#colorSelector{
display: flex;
flex-direction: column;
}

#foot{
position: absolute;
bottom: 0;
left: 0;
display: flex;
margin-top: auto;
}